<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Online Shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_out">Sign Out</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/">Home</a>
              </li>
              {% else %}
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_in">Sign In</a>
              </li>
              {% endif %}
            <!-- <li class="nav-item ">
                <a class="nav-link active" href="/">Contact us</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
   
        
    
    <div class="row d-flex justify-content-center  ">
        <div class="card " style="width: 40rem;">
            <div class="card-header">
                <label for="form-check" name="ques" value="{{i.question}}" ><b class="center" >Your Order Details</b></label>
              </div>
    {% if orderdata  %}
        <div>
        <table>
            <thead>
                <tr>
                  <th scope="col">Email&emsp;</th>
                  <th scope="col">Product Name&emsp;</th>
                  <th scope="col">Product Price&emsp;</th>
                  <th scope="col">Payment Status&emsp;</th>
                </tr>
            </thead>
            <tbody>
            
            {% for order in orderdata %}
            <tr>
              <td>{{order.email}}&emsp;</td>
              <td>{{order.product.product_name}}&emsp;</td>
              <td>{{order.product.product_price}}&emsp;</td>
              <td>{% if order.paid %} Done
                  {% else %}
                  {% endif %}
              &emsp;</td>
            </tr>
            {% endfor  %}
        </tbody>
    </table>
</div>
            {% else %}
            
                <div>
                    <b>No order Yet !! Go <a href="/">Buy Now </a></b>
                </div>
            
            {% endif %}
           
    </div>
</div>
</body>
</html>