<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Online Shop</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_out">Sign Out</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/myorder">My Orders</a>
              </li>
              {% else %}
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_in">Sign In</a>
              </li>
              {% endif %}
            <!-- <li class="nav-item ">
                <a class="nav-link active" href="/">Contact us</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
   
        
    <b class="center" >Order Details</b>
    <table>
        <thead>
            <tr>
              <th scope="col">Product Name&emsp;</th>
              <th scope="col">Amount&emsp;</th>
            </tr>
          </thead>
        <tbody>
        <tr>
            <td>{{product_info.product_name}}&emsp;</td>
            <td>{{product_info.product_price}}&emsp;</td>
           
          </tr>
        </tbody>
    </table>
    <script src="https://www.paypal.com/sdk/js?client-id=AYYFAgAzG1nSFKiJ7DTmYpyTiwhl2dZBzBShJhz2WjyqIvtm1dUMFC-1wVo2LYf2bazrInle3yamhO1f&currency=USD"></script>
    <p><b>Pay Now</b></p>
    <div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>



    <script src="https://www.paypal.com/sdk/js?client-id=sb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
      var price = '{{pr_data.product_price}}';
      function initPayPalButton() {
        paypal.Buttons({
          style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'paypal',
            
          },
  
          createOrder: function(data, actions) {
            return actions.order.create({
              
              purchase_units: [{"amount":{"currency_code":"USD","value":price}}]
            });
          },
  
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
              
              // Full available details
              console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
  
              // Show a success message within this page, e.g.
              // const element = document.getElementById('paypal-button-container');
              // element.innerHTML = '';
              // element.innerHTML = '<h3>Thank you for your payment!</h3>';
              window.location.href ="{% url 'userhome' product_info.id %}";
              // Or go to another URL:  actions.redirect('thank_you.html');
              
            });
          },
          
          onError: function(err) {
            // debugger
            window.location.href = "{% url 'failed' product_info.id %}"; 
           
            console.log(err);
            // window.location.href ="{% url 'userhome' None %}";
            
          }
        }).render('#paypal-button-container');
      }
      initPayPalButton();
    </script>



</body>
</html>