<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Online Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            {% if user.is_authenticated %}
              <li class="nav-item ">
                <a class="nav-link active" href="/myorder">My Orders</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_out"> Sign Out</a>
              </li>
              {% else %}
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_in">Sign In</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="/sign_up">Sign Up</a>
              </li>
            {% endif %}
            <!-- <li class="nav-item ">
              <a class="nav-link active" href="/">Contact us</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="row d-flex justify-content-center  ">
      <div class="card " style="width: 40rem;">
        <div class="card-header">
            <label for="form-check" name="ques" value="{{i.question}}" ><b class="center" >Your Order Details</b></label>
        </div>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <center style="color:Green ;">{{message}}</center>
              {% endfor %}
          </ul>
        {% endif %}
        {% if cart_info %}
          <div>
            <table>
              <thead>
                <tr>
                  <th scope="col">Product Name&emsp;</th>
                  <th scope="col">Product Price&emsp;</th>
                  <th scope="col">Quantity&emsp;</th>
                  <th scope="col">Remove item&emsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for items in cart_info %}
                <tr>
                  <td>{{items.product.product_name}}&emsp;</td>
                  <td>{{items.product.product_price}}&emsp;</td>
                  <td>
                    <a href="{% url 'add_quantity' items.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                    </svg></a>
                    {{items.quantity}} 
                    <a href="{% url 'remove_quantity' items.id %}"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
                    </svg></a>&emsp;
                  </td>
                  <td><a href="{% url 'remove' items.id %}"><button>Remove item</button></a></td>
                </tr>
                {% endfor  %}
              </tbody>
            </table>
          </div>
          <div class="card-footer" >
            <p><b>Total Amount :</b>{{total}}</p>
            <div class="container">
              <button type="button" class="btn btn-lg btn-primary"  id="checkout-button">Buy Now  </button>
            </div>
          </div>
        {% else %}
          <div>
              <b>No Products Yet !! Go add now <a href="/">Buy Now </a></b>
          </div>
        {% endif %}
        
        
      </div>
    </div>
    <script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51LsfxwSFADRI1TtjsG5Xi2CkMeAHHQEeJBcmQZAYZO5NoISAbzt3DETZViUt4zYOuQdfbaIxk0XnFkGOUrY7AmIU00gloM3TEh');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session-cart', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
    </script>
  </body>
</html>